.App {
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.control-buttons {
  text-align: left;
  width: 100%;
  margin-bottom: 12px;
}

.level {
  float: right;
  height: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 28px;
  font-size: 15px;
  font-weight: bold;
}

.reload-button {
  float: left;
}